*{
    padding: 0;
    margin: 0;
    outline: 0;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
/* header part css start */
.header{
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header_overlay{
    /* padding: 27px 0px; */
    background-color: rgba(0, 0, 0, 0.62);
    height: 600px;
}
.logo img{
    margin-top: 22px;
}
.menu ul{
    display: flex;
    padding: 0px 140px;
}
.menu ul li {
 padding: 0px 15px;
}
.menu ul li a{
    color: white;
    margin-top: 30px;
    margin-right: 30px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
/* bootstrap menu css start */
/* .navbar-nav .nav-item .nav-link{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
}

.navbar-nav .nav-item{
    padding: 0px 20px;
    margin-top: 15px;
} */
/* bootstrap menu css end */
.ban_con{
    color: #ffffff;
    text-align: center;
    margin-top: 140px;
}
.ban_con h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 70px;  
}
.ban_con p{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400; 
    padding-bottom: 39px;
}
.content{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.ban_con hr{
    width: 150px;
    border: 1px solid #0ab6f5;
    position: absolute;
    top: 135px;
    left: 465px;
    /* color: #388cab; */
}
/* header part css end */

/* services part css start */
.common_head h4{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 36px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.common_head h4:after{
    position: absolute;
    content: "";
    bottom: -30px;
    left: 45.5%;
    height: 2px;
    width: 110px;
    background-color: #0872b9;
}
.ser_main{
    margin-top: 50px;
}
.ser_icon{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.ser_con{
    text-align: center;
    padding: 35px 22px 60px;
}
.ser_con h4{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}
.ser_con p{
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #888888;
}
/* services part css end */

/* services 2nd part css start */
.services2{
    background-color: #f7f7f7;
    width: 100%;
    height: 462px;
    /* margin-bottom: 20px; */
}
.common_head2 h4{
    text-align: center;
    margin-top: 60px;
    margin-right: 360px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.common_head2 p{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #888888;
    margin-left: 120px;
    margin-top: 10px;
}
.contents_main{
    position: relative;
}
.contents{
    position: absolute;
    top: 12px;
    left: 135px;
}
.contents h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.contents p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.icon_main{
    position: relative;
}
.icon{
    position: absolute;
    top: 10px;
    left: 90px;
}
.left{
    margin-left: -110px;
}
.down{
    margin-top: 100px;
    margin-left: -27px;
    position: relative;
}
.left2{
    margin-left: -77px;
}
.button a{
    color: black;
    position: absolute;
    left: 170px;
    bottom: -160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #dcf1f8;
    padding: 10px;
    border-radius: 30px;
}
/* services 2nd part css end */

/* portfolio part css start */
.portfolio{
    margin-bottom: 200px;
}
.common_head3 h4{
    text-align: center;
    margin-top: 60px;
    margin-right: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.common_head3 p{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #888888;
    margin-top: 15px;
    margin-left: 20px;
}
.port2{
    margin-left: -77px;
}
.contents_main2{
    position: relative;
}
.contents2{
    position: absolute;
    top: 13px;
    left: 136px;
}
.contents2 h3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.contents2 p{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    margin-left: 0;
}
.port3{
    margin-top: 120px;
    margin-left: -28px;
}
.port4{
    margin-top: 120px;
    margin-left: -28px;
}
.port_img img{
    margin-top: 80px;
}
/* portfolio part css end */

/* portfolio images part css start */
.portfolio_img{
    margin-bottom: 100px;
}
/* portfolio images part css end */

/* about part css start */
.line1{
    margin-top: 40px;
}
.about_img{
    width: 150px;
    height: 150px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_con h4{
    text-align: right;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.about_con p{
    text-align: right;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.line2{
    margin-top: 40px;
}
.about_img2{
    margin-left: 15px;
}
.about_con2 h4{
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.about_con2 p{
    text-align: left;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.line3{
    margin-top: 40px;
}
.line4{
    margin-top: 40px;
}
.line5{
    margin-top: 40px;
}
/* about part css end */